body {
    background-image: linear-gradient(to left, rgb(179, 179, 179), rgb(0, 0, 0) 90%);
    display: flex;
    justify-content: center;
}

#logo {
    position: absolute;
    left: 0%;
    height: 110px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 3px 3px 3px black;
    visibility: visible;
}

#logo:hover {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

#navbar {
    background-image: linear-gradient(to left, white, black 30%);
    position: absolute;
    left: 0%;
    height: 110px;
    width: 0px;
    opacity: 0;
}

#navbar:hover {
    content: "";
    height: 130px;
    width: 1365px;
    border-top: 0.1px solid rgb(85, 25, 25);
    border-bottom: 0.1px solid rgb(85, 25, 25);
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform-origin: left;
    transform: scaleX(1);
    -webkit-transition: all 2s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
    z-index: 1;
}

#navbar:not(:hover) {
    position: absolute;
    left: 0%;
    height: 110px;
    width: 0px;
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform-origin: left;
    transform: scaleX(1);
    -webkit-transition: all 2s ease-in-out 0s;
    transition: all 3s ease-in-out 0s;
}

a {
    color: rgb(116, 0, 0);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.sign {
    position: absolute;
    top: 60px;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(85, 25, 25);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a:hover {
    font-size: 109%;
    opacity: 0.8;
}

.menu {
    display: block;
    top: 45px;
    left: 12%;
    position: absolute;
}

.menu > li > a, .accessory li a{
    display: block;
    text-decoration: none;
}

.menu ul {
    background: rgb(194, 194, 194);
    height: 0;
    left: 0%;
    opacity: 0;
    position: absolute;
    transform: rotateX(-90deg); 
    transition: all .2s ease;
    top: 100%;
    width: 100%;
    z-index: 1;
}

.accessory ul {
    background: rgb(194, 194, 194);
    height: 0;
    opacity: 0;
    position: absolute;
    left: 26%;
    top: 80px;
    transform: rotateX(-90deg); 
    transition: all .2s ease;
}
    
.menu li:hover ul {
    height: 170px;
    opacity: 1;
    transform: translateY(0);
    width: 100%;
    border-radius: 6px 6px 6px 6px;
}

.accessory li:hover ul {
    padding: 0% 3% 1% 3%;
    height: 35%;
    opacity: 1;
    transform: translateY(0);
    border-radius: 6px 6px 6px 6px;
    width: 5%;
}

.menu ul a, .accessory ul a {
    color: rgb(116, 0, 0);
    display: block;
    padding: 5px 0px;
    font-size: 15px;
}

li {
    list-style-type: none;
}

.slider {
    position: absolute;
    top: 170px;
    border-radius: 10px 10px 10px;
    box-shadow: 0 0 3em white;
    width: 55%;
    height: 390px;
    overflow: hidden;
    background-color: white;
}

.slides {
    width: 3005px;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 350px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    right: -2.5%;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: red;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    right: -2.5%;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: red;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: red;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: red;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: red;
}

footer {
    position: absolute;
    color: rgba(190, 0, 0, 0.562);
    font-style: italic;
    left: 5px;
    top: 97%;
}