@media screen and (max-width: 650px) {
    body {
        background-color: white;
        background-repeat: no-repeat;
        height: 97.27vh;
        overflow-x: hidden;
    }
    nav {
        margin-top: -2.5%;
        margin-left: -2%;
        height: 130px;
        width: 104.36%;
        align-items: center;
        background-image: linear-gradient(to left, white, black 80%);
        border-top: 1px solid #551919;
        border-bottom: 1px solid #551919;
    }
    h3{
        display: flex;
        margin-top: -93px;
        margin-left: 67%;
        color: #740000;
    }
    #Acessories{
        margin-bottom: 110px;
    }
    select{
        width: 15%;
    }
    .black{
        background-color: black;
    }
    .gray{
        background-color: gray;
    }
    .red{
        background-color: red;
    }
    .blue{
        background-color: blue;
    }
    .yellow{
        background-color: yellow;
    }
    #evolution{
        visibility: visible;
        margin-top: -6%;
        margin-left: -3%;
        height: 70vw;
        width: 50%;

    }

    #Racing{
        margin-left: -3%;
        height: 73vw;
        width: 50%;
        display: flex;

    }

    .img_evolution{
        position: absolute;
        margin-left: 4%;
    }

    .Img_Racing{
        position: absolute;
        margin-left: 4%;
    }

    .select_racing{
        margin-top: 130%;
        height: 22px;
    }

    img{
        width: 40%;
    }

    .select_evolution{
        margin-top: 105%;
        margin-left: 4%;
    }
}