body {
    background-image: linear-gradient(to left, rgb(216, 216, 216), rgb(0, 0, 0));
}

.loginFrame {
    margin-top: 15%;
    margin-left: 33%;
    background-color: white;
    width: 35%;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#email, #senha {
    width: 60%;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 5%;
    color: rgb(73, 73, 73);
}

#email:hover::placeholder, #senha:hover::placeholder {
    color: rgba(150, 150, 150, 0.726);
}
