body {  
    background-image: linear-gradient(to left, rgb(216, 216, 216), rgb(0, 0, 0));
}

a {
    color: rgb(116, 0, 0);
    text-decoration: none;
    font-family: 'Arial';
    font-size: 18px;
}

a:before { /* Underline */
    content: ""; /* If you delete this content, the underline will disappear */
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0; /* Leave the line below the letter. */
    left: 0; /*This is to leave the line in the center of the word*/
    background-color: rgb(85, 25, 25); /*The line color*/
    transform: scaleX(0); /*This is for hidden the line*/
    transition: all 0.3s ease-in-out 0s; /*The action to appear underline*/
}

a:hover:before {
    transform: scaleX(1); /*To show the line*/
}

a:hover { /*The action to show the links when the cursor is above the link(a)*/
    font-size: 109%;
    opacity: 0.8;
}

.menu { /*The menu position*/
    top: 36px;
    left: 10%;
    position: absolute;
}

.menu ul { /*The dropdown container*/
    background: rgb(180, 180, 180);
    left: 10%;
    opacity: 0; /*Hide the container before hovering over*/
    position: absolute;
    transition: all .3s ease; /*Dropdown transition*/
    width: 100%; /*Container width before hovering*/
  }

.menu li:hover ul { /*After hovering over the container*/
    opacity: 1;
    width: 82%;
}

.menu ul a { /*Container lettering style*/
    color: rgb(116, 0, 0);
    display: block;
    padding: 5px 0px;
    font-size: 16px;
}

li { /*Hide the list style*/
    list-style-type: none;
}