body {
    background-image: linear-gradient(to left, rgb(212, 212, 212), black 80%);
}

.loginFrame {
    margin-top: 5%;
    margin-left: 30%;
    background-image: linear-gradient(to left, rgb(49, 49, 49), black 42%);
    width: 40%;
    min-width: 320px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    box-shadow: 0 0 0.4em black;
}

img {
    margin-top: -2%;
}

h1 {
    margin-top: -1%;
    margin-bottom: 2%;
    padding-top: -5px;
    color: rgb(211, 210, 210);
}

#email, #senha {
    width: 60%;
    max-width: 380px;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid; border-radius: 10px;
    color: rgb(73, 73, 73);
}

#email:focus::-webkit-input-placeholder, #senha:Focus::-webkit-input-placeholder {
    color: rgba(150, 150, 150, 0.726);
}

#email:hover, #senha:hover {
    border-color: darkred;
    transition: all 0.4s ease-in-out 0s;
}

#labelCheckbox {
    position: absolute;
    left: 50.5%;
    font-size: medium;
}

#checkbox {
    margin-bottom: 3%;
    margin-left: 48%;  
}

#log-in {
    height: 35px;
    width: 80%;
    max-width: 350px;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
    background-color: rgb(218, 218, 218);
    border-radius: 5px 5px 5px;
    border-color: white;
}

#log-in:hover {
    box-shadow: 0 0 0.1em white;
    background-color: rgb(201, 201, 201);
}

#forgotPassword {
    font-size: large;
    text-decoration: none;
    color: rgb(212, 212, 212);
}

#forgotPassword:hover {
    text-decoration: underline;
}

hr {
    margin-top: 5%;
    width: 80%;
}

#newAccount {
    height: 35px;
    width: 50%;
    min-width: 200px;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: large;
    font-weight: bold;
    background-color: rgb(190, 0, 0);
    border-radius: 5px 5px 5px;
    border-color: rgb(219, 0, 0);
    color: white;
}

#newAccount:hover {
    box-shadow: 0 0 0.1em rgb(212, 0, 0);
    background-color: rgb(212, 0, 0);
}
@media screen and (max-width: 525px) {
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .loginFrame{
        margin-top: -10px;
        margin-left: 0;
        height: 800px;
        width: 103%;
        
    }
    img{
        margin-top: 5%;
        height: 100px;
    }
    h1{
        margin-top: 5%;
        font-size: x-large;
    }
    #email, #senha {
        width: 70%;
        height: 20px;
        margin-top: 6%;
        margin-bottom: 4%;
        border: 2px solid; border-radius: 10px;
        color: rgb(73, 73, 73);
    }
    #labelCheckbox {
        position: absolute;
        left: 40%;
        font-size: medium;
    }
    #log-in{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    hr {
        margin-top: 10%;
        width: 85%;
    }
    #newAccount {
        width: 80%;
        margin-top: 5%;
    }
}