body {
    background-image: linear-gradient(to left, rgb(216, 216, 216), rgb(0, 0, 0) 53%);
}

.loginFrame {
    background-image: linear-gradient(to left, rgb(216, 216, 216), rgb(39, 39, 39) 60%);
    margin-top: 10%;
    margin-left: 33%;
    background-color: white;
    width: 35%;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

img {
    margin-top: -2%;
    size: 5%;
}

h1 {
    padding-top: -5px;
}

#email, #senha {
    width: 60%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 5%;
    border: 2px solid; border-radius: 10px;
    color: rgb(73, 73, 73);
}

#email:focus::-webkit-input-placeholder, #senha:Focus::-webkit-input-placeholder {
    color: rgba(150, 150, 150, 0.726);
}

#email:hover, #senha:hover {
    border-color: red;
}
